aside {
    background-color: #42000d;
  }

h2 a {
  color: #333333
}

a.btn {
  background-color: #333333
}

.github-corner svg {
  style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; left: 0;"
}