aside {
    background-color: #42000d;
  }

h2 a {
  color: #333333
}

a.btn {
  background-color: #333333
}

.github-corner svg[style] {
  fill:#151513 !important;
  color:#fff !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  left: 0 !important;
  transform: scale(-1, 1) !important;
}